# Create database

1. Upload the compressed file
1. Unzip the file
1. Assign how many items to search from openfood
1. Assign how many products to look into from the search results page

In [1]:
from google.colab import files
files.upload()

In [2]:
!unzip retailer_analysis

In [1]:
retailer = "Tesco"
csvfile = "openfood_tesco.csv"

# 0~5251, cuz that's the rows number in openfood tesco
from_num = 0
to_num = 2
search_items_per_requests=1

In [3]:
import pandas as pd

# only select the product names
open_products_df = pd.read_csv(csvfile, sep="\t", dtype=str).dropna(subset=['product_name_en'])['product_name_en']
open_products_list = open_products_df.astype(str).values.tolist()

open_products_list = open_products_list[from_num:to_num]

5251

In [5]:
from item.Item import *
from crawler.TescoCrawler import TescoCrawler

crawler = TescoCrawler()
completed_info_products = []
for each in open_products_list:
    search_item = Search_Item(each)
    search_item = crawler.search_and_append(search_item, num=search_items_per_requests)
    completed_info_products.append(search_item.tesco_items)

Start searching item: "butterpack spreadable" at Tesco
looking into https://www.tesco.ie/groceries/en-IE/products/277162268
response: 200
Start searching item: "Orange" at Tesco
looking into https://www.tesco.ie/groceries/en-IE/products/253554014
response: 200

# Prepare the data
1. Flatten the nested products list
2. create the dataframe from the item object
    1. retrieve the object variables
    2. create a dataframe
    3. add the dataframe to the frames list
    4. concatenate to create the entire dataframe
3. Save to database with name `{retainer}_{from_source_item_num}_{to_source_item_num}`

In [6]:
completed_info_products = [i for sublist in completed_info_products for i in sublist]
print(f"Totally crawls {len(completed_info_products)} products")

Totally crawls 2 products

# Save the result to db

In [8]:
import sqlite3

frames = []
for e in completed_info_products:
    product_info_dict = vars(e)
    product_info_dict['nutrition'] = str(product_info_dict['nutrition'])
    product_df = pd.DataFrame(product_info_dict, index=[0], dtype=str)
    frames.append(product_df)

result = pd.concat(frames)

database_name = f"{retailer}_{from_num}_{to_num}.db"
conn = sqlite3.connect(database_name)
result.to_sql("products", conn, if_exists="replace", index=False)
f"Save to {database_name}"

'Save to Tesco_0_2.db'